.heading{
  background-image: url(../assets/images/about-heading.jpg);
  background-size: cover;
}

/* common section */
.item1,
.item2{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: justify;
  height: calc(100vh - 10vh);
}

.item1{
  animation: slideinRight 3s ;
}

@keyframes slideinRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.item2 {
  animation: slideinLeft 3s;
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}


.title{
  text-align: center;
  margin-bottom: 2rem;
  color: brown;
}

.item1 img,
.item2 img{
  width: 50%;
}



/* welcome section */
.welcome img {
  float: left;
  margin: 0 2rem 1rem 0;
}

/* vege section */
.vege img {
  float: right;
  margin: 0 0 1rem 2rem;
}

/* Mobile Screen */
@media (max-width: 480px) {
  .item{
    height: auto;
    margin: 10vh auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .item1,
  .item2{
    height: auto;
    margin: 10vh auto;
  }
}