/* nav section */
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 1.5rem 4rem;
  width: 100vw;
  height: 10vh;
  background: var(--secondary-color);
  z-index: 1;
}

/* logo */
.logo {
  font-size: 25px;
  font-weight: bold;
}

.logo a:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* menu section */
.menu {
  display: flex;
  align-items: center;
  width: 50%;
}

.menu ul {
  display: flex;
  list-style: none;
  flex: 1;
}

.menu li {
  text-align: center;
  flex: 1;
}

/* menu-a animation */
.menu-a {
  position: relative;
  display: inline-block;
}

.menu-a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.3s;
}

.menu-a:hover::after {
  transform: scale(1, 1);
}

/* dropdown animation */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;

  opacity: 0;
  width: 100%;
  visibility: hidden;
  transform: translateY(-2vh);
  transition: opacity 0.8s, transform 0.5s;
  background-color: var(--secondary-color);
}

.dropdown-menu a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5rem 0;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-menu a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.3s;
}

/* responsive section */
.responsive {
  display: none;
}

/* main section */
.content {
  display: block;
  padding: 2rem 4rem;
  padding-top: 10vh;
  z-index: 1;
}

/* heading section */
.heading {
  color: var(--secondary-color);
  height: calc(100vh - 10vh);
}

.background {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.6);
  height: calc(100vh - 10vh);
}

.heading h1 {
  font-size: 5rem;
  text-align: center;
}

.heading ul {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  padding: 1rem;
}

.heading li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
}

.heading a {
  position: relative;
  display: inline-block;
  color: var(--secondary-color);
}

.heading a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--secondary-color);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.3s;
}

.heading a:hover::after {
  transform: scale(1, 1);
}

/* footer section */
footer {
  border-top: 2px solid var(--primary-color);
  height: 10vh;
  width: 100vw;
}

.footer-logo{
  padding: 0 3rem;
  margin-right: 3rem;
}

.footer-flexbox{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1.5rem 0;

}

/* footer-info section */
.footer-info{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: 0 2rem;
}

/* footer-sns section */
.footer-sns{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  column-gap: 2rem;
  margin: 0 2rem;
}

.copyright{
  text-align: center;
  padding: 1.5rem;
}

.insta a:hover{
  color: rgb(198, 22, 198);
}

.facebook a:hover{
  color: blue;
}

.twitter a:hover{
  color: rgb(250, 93, 93);
}

/* Mobile screens */
@media (max-width: 480px){
   /* nav section */
   .nav {
    width: 100vw;
    padding: 0 1rem;
    z-index: 1;
  }

   .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .responsive-logo{
    font-size: 15px;
  }

  /* hamburger-menu section */
  .responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    visibility: visible;
  }

  .sp-menu #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 3rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
  }

  .overlay ul {
    list-style: none;
  }

  .overlay li {
    padding: 0.5rem 2rem;
    text-align: end;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }

  /* main section */
  .content {
    padding: 10vh 1rem;
  }

  /* heading section */
  .heading {
    height: 30vh;
  }

  .background {
    width: 100%;
    height: 30vh;
  }

  .background h1 {
    font-size: 3rem;
  }

  .heading ul{
    flex-flow: column;
  }

  .heading li {
    flex: 1;
    padding: 0;
  }

  /* footer section */
  .footer-flexbox{
    display: block;
  }

  .footer-logo{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }

  .footer-info,
  .footer-sns {
    margin: 1rem 0;
  }
}

/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .content {
    padding-top: 10vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  /* nav section */
  .nav{
    z-index: 1;
  }

  .menu {
    display: none;
  }

  .logo {
    display: none;
  }

  /* hamburger section */
  .responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    visibility: visible;
  }

  .sp-menu i{
    font-size: 30px;
  }

  .responsive-logo {
    font-size: 20px;
  }

  .sp-menu #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 3rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
  }

  .overlay ul {
    list-style: none;
  }

  .overlay li {
    padding: 0.5rem 2rem;
    text-align: end;
    font-size: 30px;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
  }

  /* heading section */
  .heading {
    height: 40vh;
  }

  .background {
    height: 40vh;
  }

  .background h1 {
    font-size: 5rem;
  }

  .heading li {
    flex: 1;
    padding: 0;
  }

  /* footer section */
  footer{
    height: auto;
  }

  .footer-flexbox{
    padding: 0 2rem;
  }

  .footer-logo{
    padding: 0;
  }
}
