/* heading section */
.heading {
  background-image: url(../assets/images/contact-heading\ .jpeg);
  background-size: cover;
}

/* form section */
.contact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.contact h5 {
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 2rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.contact-form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  vertical-align: middle;
}

.contact-form h3 {
  margin: 1rem auto;
  text-align: center;
}

/* form-group setion */
.form-group {
  grid-column: 1 / 3;
}

#name,
#email,
#tel {
  width: 80%;
  height: 3rem;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}

::placeholder{
  text-align: center;
}

/* message section */
.message {
  grid-column: 3 / 6;
  grid-row: 1 / 4;
}

.message ::placeholder{
  text-align: start;
  padding: 1rem;
}

textarea {
  width: 100%;
  height: 90%;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  resize: vertical;
}

/* button section */
button[type="submit"] {
  display: inline-block;
  transition: 0.3s;
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  height: 3.5rem;
  margin-top: 5vh;
  font-size: 20px;
  font-family: 'PT Serif', serif;
  background-color: rgba(165, 42, 42, 0.8);
  color: var(--secondary-color);
  border: none;
  border-radius: 10px;
}

button:hover{
  background-color: var(--accent-color);
  font-size: 23px;
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .contact h5 {
    margin: 5rem 0;
  }

  .contact-form {
    display: block;
  }

  textarea {
    height: 30vh;
  }

  button[type="submit"] {
    display: inline-block;
    width: 40%;
    background-color: var(--accent-color);
  }

  .contact {
    height: auto;
  }
}

/* Responsive for tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact {
    height: auto;
    margin: 3rem auto;
  }

  .contact h5 {
    margin: 2rem;
  }
}
