/* heading section */
.heading {
  background-image: url(../assets/images/faq-heading.jpg);
  background-size: cover;
}

/* content section */
#faq {
  display: flex;
  height: auto;
  margin: 10vh auto;
  width: 80vw;
}

/* category section */
.category-group {
  display: flex;
  flex-flow: column;
  width: 30%;
}

.category-group h3 {
  position: sticky;
  top: 47%;
}

.category-group ul {
  position: sticky;
  top: 50%;
  padding: 1rem 0;
}

.category-group li {
  list-style: none;
}

.category-group li::before {
  list-style: none;
  content: "▶︎ ";
  color: brown;
}

/* faq section */
dl {
  margin: 1rem 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  padding: 1rem;
}

dt {
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 1rem;
}

dt::before {
  content: "Q. ";
  color: brown;
  font-weight: bold;
}

dt::after {
  position:absolute;
  content: "＋";
  font-size: 20px;
  transition: transform 0.3s;
  right: 0;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dd {
  margin-top: 2rem;
  padding: 1rem;
  display: none;
  width: 100%;
  background-color: white;
}

dd::before {
  content: "A. ";
  color: brown;
  font-weight: bold;
}

dl > div.appear dd {
  display: block;
  animation: 0.3s fadeIn;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.faq-group {
  flex: 2;
  width: 100%;
}

.category {
  display: inline-block;
  background-color: white;
  margin-right: 1rem;
  border-radius: 10%;
  padding: 0.3rem;
}

@media (max-width: 480px) {
  .heading {
    top: 0;
    height: 30vh;
  }

  #faq {
    display: block;
  }

  .category-group {
    width: 100%;
    flex-flow: nowrap;
    justify-content: space-around;
  }

  .category-group h3 {
    position: static;
  }

  .category-group ul {
    position: static;
    padding: 0;
    margin-bottom: 2rem;
  }

  .category-group li{
    margin: auto 0.5rem;
  }

}
