/* heading section */
.heading {
  background-image: url(../assets/images/faq-heading.jpg);
  background-size: cover;
}

#faq {
  display: flex;
  height: auto;
  margin: 10vh auto;
  width: 80vw;
}

/* faq content */
.category {
  /* position: sticky;
  top: 0; */
  display: flex;
  flex-flow: column;
  width: 30%;
}

.category ul{
  position: sticky;
  top: 50%;
  padding: 1rem 0;
}
.category h3 {
  position: sticky;
  top: 47%;
}

.category li {
  list-style: none;
}

.category li::before {
  list-style: none;
  content: "▶︎ ";
  color: brown;
}

.faq-list {
  flex: 2;
  width: 100%;
}

.faq-content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem 0;
}

.faq-content p {
  flex: 1;
  border-left: solid 3px;
  padding-left: 0.5rem;
}

.faq-content h4 {
  flex: 3;
  padding-left: 2rem;
}

.faq-content i {
  flex: 1;
  text-align: end;
}

.faq-list li {
  list-style: none;
}

@media (max-width: 480px) {
  .heading {
    top: 0;
    height: 30vh;
  }

  .faq-list {
    margin: 2rem 1rem;
    height: auto;
  }

  .faq-content {
    width: 100%;
    padding: 1rem;
  }

  .faq-content h3 {
    padding-left: 2rem;
  }
}
