/* heading section */
.heading{
  background-image: url(../assets/images/menu-heading.jpg);
  background-size: cover;
}

/* common section */
.style{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  padding-top: 10vh;
  height: 100vh;
}

/* text group section */
.text-group{
  display: flex;
  justify-content: center;
  z-index: -1;
}

.text-group h2{
  background-color: var(--accent-color);
  color: var(--secondary-color);
  position: absolute;
  text-align: center;
  border: 1px solid var(--primary-color);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.text-group p{
  width: 80%;
  margin: 2rem 3rem;
  position: relative;
  padding: 4rem 3rem 2rem;
  border: 1px solid var(--primary-color);
  z-index: -2;
}

/* flexbox section */
.flexbox{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image-group{
  width: calc(100vw / 3);
}

.image-group img{
  width: fit-content;
  height: 30vh;
  object-fit: cover;
}

.menu-name,
.menu-price{
  text-align: center;
}

@media (max-width: 480px) {
  .style{
    padding: 0;
    height: auto;
    margin: 5rem auto;
  }

  .flexbox{
    display: block;
  }

  .image-group {
    display: block;
    width: 100%;
    margin: 2rem 0;
  }

  .image-group img{
    height: 25vh;
  }

  #lunch,
  #dinner,
  #drinks,
  #desserts{
    padding-top: 10vh;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .style{
    padding: 0;
    height: auto;
    margin: 5rem auto;
  }

  .image-group {
    width: auto;
  }

  .image-group img{
    height: 15vh;
  }

  #lunch,
  #dinner,
  #drinks,
  #desserts{
    padding-top: 10vh;
  }

}

