/* heading section */
.heading {
  background-image: url(../assets/images/news-heading.jpg);
  background-size: cover;
}

/* tab section */
.tab-group {
  display: flex;
  flex-wrap: wrap;
  margin: 10vh 5vw;
}

.tab-label {
  color: var(--secondary-color);
  background: var(--primary-color);
  margin-right: 0.5rem;
  padding: 0.3rem 1rem;
  order: -1;
}

.tab-content {
  width: 100%;
  display: none;
  padding: 2rem;
  border: 1px solid var(--primary-color);
  background-image: url(../assets/images/home-background.jpg);
}

.tab-switch:checked+.tab-label {
  background: var(--accent-color);
}

.tab-switch:checked+.tab-label+.tab-content {
   display: block;
}

.tab-switch {
  display: none;
}

/* news content */
.news-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.news-list a:hover{
  background-color: var(--secondary-color);
  transition: 0.5s;
}

.news-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
  padding: 1.5rem;
}

.category {
  flex: 1;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.date {
  flex: 1;
  text-align: center;
  margin-left: 1rem;
}

.news-title {
  flex: 3;
  text-align: start;
  padding-left: 2rem;
}

.news-list li {
  list-style: none;
  width: 100%;
}

@media (max-width: 480px) {
  .heading {
    top: 0;
    height: 30vh;
  }

  .news-list {
    margin: 1.5rem 1rem;
    height: auto;
  }

  .news-content {
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }

  .category{
    display: inline;
  }

  .date{
    margin: 0.5rem 0;
    text-align: start;
  }

  .news-title {
    line-height: 1.3;
    float: left;
    width: 90%;
    padding-left: 0;
  }

  .tab-group{
    flex-flow: column;
  }

  .tab-content {
    padding: 0;
  }

}
