/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --primary-color: black;
  --secondary-color: white;
  --accent-color: brown;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "PT Serif", serif;
}

a {
  text-decoration: none;
  color: black;
}
